{% if site.Valine %}

<script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
<div id="waline"></div>
<script>
    mermaid.initialize({ startOnLoad: true });
    Waline({
        el: '#waline',
        serverURL: '{{site.serverURL}}',
        emoji: [
            'https://cdn.jsdelivr.net/gh/Small-tailqwq/Girls-Frontline-emoji-for-waline@1.0/emoji/',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/weibo',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
        ],
    });
    :root {
        .v[data-class=v] .vcontent .vemoji {
        display: inline-block;
        vertical-align: middle;
        width: 4.5 em;
        margin: 0.25 em;
        }
    }
</script>

{% endif %}
