{% if site.Valine %}

<script src="https://unpkg.com/@waline/client@v2/dist/waline.js"></script>
<link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v2/dist/waline.css"
  />
<div id="waline"></div>
<script>
    Waline.init({
        el: '#waline',
        serverURL: '{{site.serverURL}}',
        locale: {
            anonymous: '{{site.anonymous}}',
            placeholder: '{{site.placeholder}}'
        },
        emoji: [
            'https://hayasa.skadi.top/gh/Small-tailqwq/WaLine-emoji@1.1.1/蛆音娘/',
            'https://hayasa.skadi.top/gh/Small-tailqwq/WaLine-emoji@1.1.1/AC娘/',
            'https://hayasa.skadi.top/gh/Small-tailqwq/WaLine-emoji@1.1.1/佐贺AC娘/',
            'https://hayasa.skadi.top/gh/Small-tailqwq/WaLine-emoji@1.1.1/哥布林/',
            'https://hayasa.skadi.top/gh/Small-tailqwq/WaLine-emoji@1.1.1/魔改娘/',
            'https://hayasa.skadi.top/gh/Small-tailqwq/WaLine-emoji@1.1.1/彩娘/',
            'https://hayasa.skadi.top/gh/Small-tailqwq/WaLine-emoji@1.1.1/少前小剧场/',
        ],
    });
</script>
<style>
    .wl-content .vemoji, .wl-content .wl-emoji {
        height: 2.5em !important;
    }

    .wl-emoji-popup .wl-emoji {
        max-width: 2em !important;
        max-height: 3.5em !important;
    }
</style>

{% endif %}
